[flake8]
# W503 "line break before binary operator" is directly in opposition to how black breaks lines!
extend-ignore = C901, E201, E202, E203, E211, E221, E251, E266, E501, W503
max-line-length = 120
max-complexity = 18
select = B,C,E,F,W,T4,B9
# We need to configure the mypy.ini because the flake8-mypy's default
# options don't properly override it, so if we don't specify it we get
# half of the config from mypy.ini and half from flake8-mypy.
mypy_config = .mypy.ini
