[MAIN]
init-hook='import sys; sys.path.append("./core"); sys.path.append("./core/ratarmountcore/_external")'
# A comma-separated list of package or module names from where C extensions may
# be loaded. Extensions are loading into the active Python interpreter and may
# run arbitrary code.
extension-pkg-allow-list=indexed_gzip,indexed_bzip2,indexed_zstd,libarchive,libarchive.ffi,lzmaffi,rapidgzip,isal,
                         PySquashfsImage,PySquashfsImage.compressor,zstandard,lz4,deflate,pyminizip,fast_zip_decryption,
                         asyncssh,sshfs,fsspec,pygit2

# Use multiple processes to speed up Pylint. Specifying 0 will auto-detect the
# number of processors available to use.
jobs=4
ignore-paths=^core/ratarmountcore/_external/
ignored-modules=ratarmountcore._external.pyfatfs


[MESSAGES CONTROL]

# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifiers separated by comma (,) or put this
# option multiple times (only on the command line, not in the configuration
# file where it should appear only once). You can also use "--disable=all" to
# disable everything first and then reenable specific checks. For example, if
# you want to run only the similarities checker, you can use "--disable=all
# --enable=similarities". If you want to run only the classes checker, but have
# no Warning level messages displayed, use "--disable=all --enable=classes
# --disable=W".
disable=invalid-name,
        broad-except,
        broad-exception-raised,
        chained-comparison,  # Only available since Python 3.8
        too-many-arguments,
        too-many-boolean-expressions,
        too-many-instance-attributes,
        too-many-locals,
        too-many-lines,
        too-many-positional-arguments,
        unnecessary-lambda,
        # I don't need the style checker to bother me with missing docstrings and todos.
        missing-class-docstring,
        missing-function-docstring,
        missing-module-docstring,
        fixme,
        similarities,
        consider-using-with,
        import-outside-toplevel,
        unused-argument,  # Too many false positives for APIs / overrides
        wrong-import-position,

# Enable the message, report, category or checker with the given id(s). You can
# either give multiple identifier separated by comma (,) or put this option
# multiple time (only on the command line, not in the configuration file where
# it should appear only once). See also the "--disable" option for examples.
enable=c-extension-no-member


[STRING]

# This flag controls whether inconsistent-quotes generates a warning when the
# character used as a quote delimiter is used inconsistently within a module.
check-quote-consistency=no

# This flag controls whether the implicit-str-concat should generate a warning
# on implicit string concatenation in sequences defined over several lines.
check-str-concat-over-line-jumps=no


[DESIGN]

# Maximum number of arguments for function / method.
max-args=5

# Maximum number of attributes for a class (see R0902).
max-attributes=7

# Maximum number of boolean expressions in an if statement (see R0916).
max-bool-expr=5

# Maximum number of branch for function / method body.
max-branches=40

# Maximum number of locals for function / method body.
max-locals=15

# Maximum number of parents for a class (see R0901).
max-parents=7

# Maximum number of public methods for a class (see R0904).
max-public-methods=50

# Maximum number of return / yield for function / method body.
# The default limit was too low when considering guards as good style.
max-returns=20

# Maximum number of statements in function / method body.
max-statements=200

# Minimum number of public methods for a class (see R0903).
# Even no public methods make sense when writing pure context managers.
# Tests also often may have classes with only a single public method.
min-public-methods=1


[FORMAT]

# Maximum number of characters on a single line.
max-line-length=120
