black
build
codespell
fusepy
flake8
indexed_bzip2
indexed_gzip
indexed_zstd
mypy
pandas
pylint
pyminizip
pytest>=8  # pytest 7 did not work with pytest-xdist 3.5.0
pytest-xdist
python-xz
pytype
twine
wheel
zstandard
