# Code checking
black
codespell
flake8
mypy
pylint
pytest>=8  # pytest 7 did not work with pytest-xdist 3.5.0
pytest-xdist
# Depends on msgspec, which has no wheels for Python 3.13 and results in build errors.
# msgspec/_core.c:11254:15: error: too few arguments to function ‘_PyLong_AsByteArray’
pytype; python_version < '3.13'

# Dependencies
fusepy
indexed_bzip2
indexed_gzip
indexed_zstd
python-xz

zstandard ~= 0.20.0; python_version == '3.6'
zstandard ~= 0.21.0; python_version == '3.7'
# With Python 3.14, I get ImportError: cannot import name 'ByteString' from 'typing' via
# zstandard/__init__.py:21.
# https://github.com/indygreg/python-zstandard/issues/238
zstandard ~= 0.23.0; python_version >= '3.8' and python_version < '3.14'

# Build tools
build
twine
wheel

# Plotting
pandas

# Tools to set up tests, e.g., servers
asyncssh
impacket
pyftpdlib
pyminizip
pyopenssl>=23
rangehttpserver
boto3
